<VirtualHost *:80>
    ServerName hosting.cs.uns.edu.ar
    ServerAlias www.hosting.cs.uns.edu.ar

    DocumentRoot public_html
    <Directory public_html>
        AllowOverride All
        Order Allow,Deny
        Allow from All

        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ app.php [QSA,L]
        </IfModule>
    </Directory>
    ErrorLog /var/log/apache2/symfony_error.log
    CustomLog /var/log/apache2/symfony_access.log combined

    SetEnv          SYMFONY__DATABASE__USER u_inundapp
    SetEnv          SYMFONY__DATABASE__PASSWORD UNIVERSE-parallel-1999
</VirtualHost>
